{# _footer.html.twig #}

{% if app.session.get('user_id') %}
    <footer class="footer-connecte">
      <p>&copy; {{ "now"|date("Y") }} - BHLM</p>
    </footer>
{% else %}
    <footer class="footer-non-connecte">
      <p>&copy; {{ "now"|date("Y") }} - BHLM</p>
    </footer>
{% endif %}



