{# _footer.html.twig #}

{% set currentRoute = app.request.attributes.get('_route') %}

<footer class="{% if currentRoute == 'accueil' or currentRoute == 'recherche' %}footer-non-fixed{% else %}footer-fixed{% endif %}">
  <p>&copy; {{ "now"|date("Y") }} - BHLM</p>
</footer>
