{# templates/partials/_header.html.twig #}
<!-- Header global -->
<header>
  <div class="container d-flex">
    <img src="{{ asset('logo.png') }}" alt="Logo La Châtaigneraie" class="logo">
    <nav>
      {# <a href="/" class="text-black me-3 text-decoration-none">Accueil</a>
      <a href="/connexion" class="text-black text-decoration-none">Connexion</a> #}
    </nav>
  </div>
</header>


