{# templates/partials/_header.html.twig #}
<!-- Header global -->

{% set currentRoute = app.request.attributes.get('_route') %}

<header>
  <div class="container d-flex justify-content-between align-items-center">
    
    <div class="header-space"></div> {# Faux espace à gauche #}

    <img src="{{ asset('logo.png') }}" alt="Logo La Châtaigneraie" class="logo">

    <div>
      {% if currentRoute == 'connexion' or currentRoute == 'inscription'  %}
        <div class="header-space"></div> {# Faux espace à droite si pas connecté #}
      {% else %}
        <a href="{{ path('accueil') }}" class="btn btn-primary btn-accueil">Accueil</a>
        <a href="{{ path('deconnexion') }}" class="btn btn-danger btn-deconnexion">Déconnexion</a>
      {% endif %}
    </div>

  </div>
</header>



