<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_connexion') }}">Connexion</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>