.btn-accueil {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  border: 3px solid #04999E !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #04999E !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-accueil:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #04999E !important;
  z-index: -1 !important;
}

.btn-accueil:hover, .btn-accueil:focus {
  color: white !important;
}

.btn-accueil:hover:before, .btn-accueil:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-accueil:active {
  transform: scale(0.9) !important;
}