header {
  background-color: white;
  color: #333;
  padding: 1rem;
  text-align: center;
}

header .logo {
  max-height: 80px;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  color: #333;
}

h1, h2, h3 {
  color: #333;
}


/* STYLE DU HEADER */

header img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header-space {
  width: 320px;
}

.btn-deconnexion {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  border: 3px solid #E9621D !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #E9621D !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-deconnexion:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #E9621D !important;
  z-index: -1 !important;
}

.btn-deconnexion:hover, .btn-deconnexion:focus {
  color: white !important;
}

.btn-deconnexion:hover:before, .btn-deconnexion:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-deconnexion:active {
  transform: scale(0.9) !important;
}

.btn-accueil {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  border: 3px solid #04999E !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #04999E !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-accueil:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #04999E !important;
  z-index: -1 !important;
}

.btn-accueil:hover, .btn-accueil:focus {
  color: white !important;
}

.btn-accueil:hover:before, .btn-accueil:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-accueil:active {
  transform: scale(0.9) !important;
}



/* STYLE CONTAINER DE CONNEXION */

.card-connnexion {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

/* STYLE DES AUTRES CARDS */

.card-formulaire {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;

}

.row-submit {
  display: flex;
  justify-content: flex-end;
}

.form-check-group label {
  margin: 5px;
}

/* STYLE DES BOUTONS  */

.btn-connexion {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.7em 2em !important;
  border: 3px solid #FF0072 !important;
  border-radius: 2px !important;
  min-width: 285px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #FF0072 !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-connexion:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #FF0072 !important;
  z-index: -1 !important;
}

.btn-connexion:hover, .btn-connexion:focus {
  color: white !important;
}

.btn-connexion:hover:before, .btn-connexion:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-connexion:active {
  transform: scale(0.9) !important;
}

/* STYLE DE LA PAGE D'ACCUEIL */

/* Style spécifique pour la page d'accueil */

h2, h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.tab-a {
  color: #0097A7 !important;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif !important;
}

.tab-a:hover {
  color: #007c89;
  text-decoration: underline !important;
}

/* Style pour les boutons de suppression et modification */

.btn-icone {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  border: 3px solid #04999E !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #04999E !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-icone:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #04999E !important;
  z-index: -1 !important;
}

.btn-icone:hover, .btn-icone:focus {
  color: white !important;
}

.btn-icone:hover:before, .btn-icone:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-icone:active {
  transform: scale(0.9) !important;
}

.icone {
  width: 22px;
  height: 22px;
  fill: #04999E;
}

.btn-icone:hover .icone,
.btn-icone:focus .icone {
  fill: white;
}


/* Différenciation entre les boutons de suppression et de modification */

.btn-icone-suppr {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  border: 3px solid #E9621D !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #E9621D !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-icone-suppr:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #E9621D !important;
  z-index: -1 !important;
}

.btn-icone-suppr:hover, .btn-icone-suppr:focus {
  color: white !important;
}

.btn-icone-suppr:hover:before, .btn-icone-suppr:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-icone-suppr:active {
  transform: scale(0.9) !important;
}

.icone-suppr {
  width: 22px;
  height: 22px;
  fill: #E9621D;
}

.btn-icone-suppr:hover .icone-suppr,
.btn-icone-suppr:focus .icone-suppr {
  fill: white;
}

/* STYLE DES TABLEAUX */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: white;
}

thead {
  background-color: #0097A7;
  color: white;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Affichage */
p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* STYLE DE LA PAGE AJOUT */

.btn-ajout {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 0.6em 1.2em !important;
  margin: 5px !important;
  min-width: 600px !important;
  border: 3px solid #04999E !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  color: #04999E !important;
  background-color: transparent !important;
  text-decoration: none !important;
  transition: 0.3s ease all !important;
  z-index: 1 !important;
}

.btn-ajout:before {
  transition: 0.5s all ease !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  right: 50% !important;
  bottom: 0 !important;
  opacity: 0 !important;
  content: '' !important;
  background-color: #04999E !important;
  z-index: -1 !important;
}

.btn-ajout:hover, .btn-ajout:focus {
  color: white !important;
}

.btn-ajout:hover:before, .btn-ajout:focus:before {
  transition: 0.5s all ease !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.btn-ajout:active {
  transform: scale(0.9) !important;
}

/* STYLE DU FOOTER */

.footer-fixed {
  background-color: #36363b;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
}

.footer-non-fixed {
  background-color: #36363b;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
