{# <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
    </head> #}
    

    <h2>{{ titreDeLaPage }}</h2>
{# tableau d information des entreprise  #}

    <table >
        {#  entete du tableau   #}
        <tr>
            <td>Nom entreprise</td>
            <td>ville</td>
            <td>personne identifier</td>
            <td>fonction</td>
            <td>profils</td>
            <td>jury</td>
            <td>SPécialité de predilection</td>
           
            
            
        <tr>
            {# donné (a rendre dynamique )  #}
        <tr>
            <td>chatos</td>
            <td>mesnil</td>
            <td>bloyet</td>
            <td>prof</td>
            <td>sisr</td>
            <td>2025</td>
            <td>sisr</td>
        <tr>
        
    </table>