{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter une entreprise</h2>

{{ form(ajoutEntreprise) }}

{% for message in app.flashes('success') %}
    {{ message }}
{% endfor %}
{% endblock %}