<p>Ajouter une entreprise : </p><button><a href="{{ path('ajoutEntreprise') }}">Ajouter</a></button>
<p>Ajouter un/une employé/employée à une entreprise : </p><button><a href="{{ path('ajoutEmploye') }}">Ajouter</a></button>
<p>Ajouter un/une étudiant/étudiante qui a déjà effectué un stage dans une entreprise : </p><button><a href="{{ path('ajoutEtudiant') }}">Ajouter</a></button>

<br>
<button><a href="{{ path('accueil') }}">Retour</a></button>