{% extends 'base.html.twig' %}


{% block body %}
<h2>Ajouter un/une employé/employée</h2>

{{ form(ajoutEmploye) }}

{% for message in app.flashes('success') %}
    {{ message }}
{% endfor %}
{% endblock %}