 <h2>Etudiant.e ajouté avec succès !</h2>
    
<p>Voulez-vous associer cet étudiant à une entreprise ?</p>

<a href="{{ path('assoEtudiantEntreprise') }}"><button type="submit">Oui</button></a>
<a href="{{ path('accueil') }}"><button type="submit">Non</button></a>