{% extends 'base.html.twig' %}

{% block body %}
<h2>Associer un.e étudiant.e à l'entreprise dans laquelle il/elle a effectué un stage</h2>

{{ form(associationForm) }}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}