



{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

    
{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body card-connnexion">
          <h2 class="mb-4 text-center">Modification</h2>
            <p>Modifier une entreprise</p>

            {{ form_start(modifEntreprise) }}
                {{ form_widget(modifEntreprise) }}
            {{ form_end(modifEntreprise) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}