
<button>
    <a href="{{ path('modifEntreprise', {'id': entreprise.id}) }}">
        Modifier l'entreprise : {{ entreprise.nom }}
    </a>
</button>


<p><button><a href="{{ path('modifEtudiant',{'id': entreprise.id}) }}">modification etudiant</a></button></p>
<p><button><a href="{{ path('modifEmploye',{'id': entreprise.id}) }}">modification tuteur </a></button></p>


    
    