{% extends 'base.html.twig' %}

{% block title %}Suppression{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body card-connnexion">
          <h2 class="mb-4 text-center">Suppression</h2>

            <p> Êtes-vous sûr de vouloir supprimer ?</p>

            <form method="post" action="{{ path('supprConfirm', {id: entreprise.id}) }}">
                <a href="{{ path('accueil') }}" class="btn btn-icone">Annuler</a>
                <input type="hidden" name="_token" value="{{ csrf_token('suppr_confirm' ~ entreprise.id) }}">
                <button class="btn btn-icone-suppr">Oui, supprimer</button>
            </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}